@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Jost", sans-serif;
}

